<div class="container">
<button type="button" class="btn btn-primary add-btn"><%= link_to "Add Food", new_food_path, class: "no-underline"%></button>
<table class="table table-bordered">
<thead>
<tr>
  <th>Food</th>
  <th>Measurement Unit</th>
  <th>Unit Price</th>
  <th>Handle</th>
</tr>
</thead>
<tbody>
<% @foods.each do |food| %>
<tr>
<td><%= food.name %></td>
<td><%= food.measurement_unit %></td>
<td><%= food.price %></td>
<td><%= button_to "Delete", food_path(food.id), method: :delete %></td>
</tr>
<% end %>
</tbody>
</table>
</div>