<div class="container">
  <h1>Shopping List</h1>
  <% if @foods.empty? %>
    <p>Shopping list is currenttly empty as you've got enough recipes to make all the foods</p>
  <% else %>
  
    <div class="shopping-title">
      <p>Amount of food items to buy: <%=@foods.size%></p>
      <% @total = @foods.sum { |food| shopping_value(food) } %>
      <p>Total value of food needed: $<%=@total%></p>
    </div>

    <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
      <tbody>
        <% @foods.each do |food| %>
          <tr>
            <td><%= food.name %></td>
            <td><%= food.food_remnant.abs %></td>
            <td>$<%=shopping_value(food) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>